@media screen and (max-width: 1100px) {
    .item-700 {
        flex-basis: calc(100% / var(--n-card-1100)
					- 
					((var(--card-gap) / var(--n-card-1100))
                    * 
                    (var(--n-card-1100) - 1)));
    }
    .card {
        flex-wrap: wrap;
    }
} 
@media screen and (max-width: 700px) {
    .item-600 {
        flex-basis: calc(100% / var(--n-card-700)
					- 
					((var(--card-gap) / var(--n-card-700))
                    * 
                    (var(--n-card-700) - 1)));
    }
    .change-d {
        flex-direction: column;
        gap: 5px;
    }
    .media-player .player {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .title-box {
        margin-right: 0.5rem;
    }
}
@media screen and (max-width: 600px) {
    .ghost {
        display: none;
    }
    .logo-small img {
        display: block;
    }
    .left-bar {
        width: 50px;
        padding-top: 10px;
    }
    .user {
        transform: translateX(-5px);
    }
    .fa-bars, .fa-display {
        margin-right: 0.2rem;
    }
}
@media screen and (max-width: 500px) {
    .c-rotate {
        transform: rotate(-90deg);
        max-width: 50px;
    }
    .gg {
        width: 40px;
        display: block;
    }
    .change-d {
        display: none;
    }
    .button {
        transform: scale(0.8);
        margin-right: 0.5rem;
    }
    .play-bar {
        min-width: 90px;
    }
    .volume {
        margin-left: 15px;
    }
    .m {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: -25px;
    }
    .media-player .title, .media-player .subtitle {
        font-size: 60%;
    }
    .media-player img {
        max-width: 30px;
        margin-right: -10px;
    }   
}
@media screen and (max-width: 375px) {
    .item-400 {
        flex-basis: 100%;
    }
}