.app-container {
    height: 100vh;
}

html {
    font-size: 14px;
}

:root {
    --top-bar: 60px;
    --player-bar: 80px;
    --color-primary: #a3a3a3;
    --color-secondary: #fff;
    --card-gap: 0.7rem;
    --n-card-1100: 4;
    --n-card-700: 2;
}
.h {
    min-height: 100%;
}
.left-bar {
    width: 200px;
    background-color: black; 
    gap: 0.4rem;
    color: var(--color-secondary);
    font-size: 0.85rem;
}
.logo-big {
    min-height: var(--top-bar);
    display: flex;
    align-items: center;
}
.logo-big img {
    max-width: 60%;
}
.logo-small img {
    width: 1.7rem;
    display: none;
}
.left-bar .icons svg {
    height: 1.6rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: var(--color-primary);
}
.left-bar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.vertical-padding-bar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.vertical-padding-bar-lg {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.grey-box {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #a3a3a3;
    text-align: center;
    line-height: 3rem;
    color: black;
    margin-right: 0.5rem;
    font-size: 3.5rem;
    font-weight: 500;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.5s;
}
.list {
    max-height: 13rem;
    overflow: auto;
}
.download svg {
    width: 1.2rem;
}
.grey-line {
    min-height: 1px;
    background-color: var(--color-primary);
    margin: 0.3rem 1rem;
}
.user {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    vertical-align: middle;
    overflow: hidden;
}
.user-name {
    font-weight: 700;
    margin-left: 0.5rem;
}
.top-bar {
    background-color: rgba(0,0,0,0.9);
    min-height: var(--top-bar);
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.btn {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
    font-weight: 600;
    transition: transform 0.5s ease-out;
}
.main-part {
    background-color: #141922;
    min-height: calc(100vh - (var(--player-bar) + var(--top-bar))); 
    overflow: auto;
    padding: 0 0.8rem;
}
.nav-bar {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.nav-bar a {
    padding: 1rem 0.4rem;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
}
.title {
    color: var(--color-secondary);
    font-size: 1.3rem;
    font-weight: 700;
}
.marg-bottom-m {
    margin-bottom: 1.3rem;
}
.marg-bottom-s {
    margin-bottom: 0.4rem;
}
.song-img {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: block;
    transition: opacity 0.5s;
}
.relative {
    position: relative;
}
.play-bigger {
    border: 0.3rem solid;
    min-height: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-align: center;
    padding-left: 2.5px;
    padding-top: 2.5px;
}
.play-bigger i {
    font-size: 1.6rem;
}
.absolute {
    color: var(--color-secondary);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 0.5s;
}
.card {
    gap: var(--card-gap);
}
.card-item {
    flex-basis: calc(100% / 6);
}
.song-title {
    color: var(--color-secondary);
    font-size: 0.89rem;
    padding-top:  0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.subtitle {
    color: var(--color-primary);
    font-size: 0.7rem;
}
.row-margin {
    margin-bottom: 2rem;
}

.card-item {
    flex-basis: calc(100% / 6 - 0.53rem);
}
.song-img-circle {
    border-radius: 50%;
    overflow: hidden;
}
.media-player {
    background-color: #282828;
    min-height: var(--player-bar);
    color: var(--color-primary);
    justify-content: space-between;
    font-size: 0.85rem;
}
.media-player .song-played, .media-player .volume {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.song-cover {
    max-width: 3rem;
    aspect-ratio: 1/1;
    margin-right: 0.3rem;
}
.song-played img {
    max-width: 100%;
}
.title-box {
    margin-right: 1.5rem;
}
.not-padded {
    padding: 0;
}
.song-played svg {
    width: 1rem;
    max-width: 100%;
    fill: transparent;
    stroke: var(--color-primary);
    stroke-width: 3rem;
    margin-left: 0.5rem;
    transition: stroke 0.3s;
}
.fa-bars, .fa-display {
    margin-right: 0.5rem;
}
.fa-ellipsis-vertical {
    margin-right: -0.2rem;
}
.volume i {
    color: var(--color-secondary);
}
.volume-bar {
    width: 5rem; 
    min-height: 0.3rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    cursor: pointer;
}
.length-rate {
    height: 0.3rem;
    width: 30%;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: background-color 0.3s;
}
.media-player .player {
    width: 40%;
    max-width: 40rem;
    color: var(--color-secondary);
    padding: 0 2rem;
}
.buttons {
    min-width: 170px;
    text-align: center;
    padding: 0.9rem 0 0.5rem 0;
    font-size: 1.1rem;
}
.button {
    display: inline-block;
    margin: 0 0.5rem;
    cursor: pointer;
}
.play-border {
    border: 0.2rem solid;
    min-height: 1.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding-left: 0.15rem ;
    transition: transform 0.4s;
}
.play-bar {
    max-height: 0.3rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    align-self: center;
    margin: 0 1rem;
    max-width: 100%;
    cursor: pointer;
}
.pallino {
    opacity: 0;
    min-height: 0.8rem;
    aspect-ratio: 1/1;
    background-color: var(--color-secondary);
    border-radius: 50%;
    transition: opacity 0.2s;
}