.app-container {
    height: 100vh;
}

.left-bar {
    min-height: calc(100vh - 80px);
    min-width: 225px;
    background-color: black; 
    gap: 0.4rem;
    color: white;
    font-size: 0.85rem;
}
.logo-big {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.logo-big img {
    max-width: 60%;
}

.left-bar .icons svg {
    max-width: 1.6rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.left-bar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Da usare dopo nell hover */
/* .icons:hover {
    border-left: 3px solid green;
    margin-left: -3px;
} */
.vertical-padding-bar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.vertical-padding-bar-lg {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.grey-box {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #a3a3a3;
    text-align: center;
    line-height: 3rem;
    color: black;
    margin-right: 0.5rem;
}
.fa-plus {
    transform: scale(2);
}
.list {
    max-height: 100px;
    overflow: auto;
}
.download {
    border-bottom: 1px solid #a3a3a3;
    margin-left: 1rem;
    margin-right: 1rem;
}
.download svg {
    width: 1rem;
}
.user {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #a3a3a3;
    vertical-align: middle;
    overflow: hidden;
}
.user-name {
    font-weight: 700;
    margin-left: 0.5rem;
}
.top-bar {
    background-color: rgba(0,0,0,0.9);
    min-height: 80px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}
.btn {
    color: white;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
    font-weight: 600;
}




.media-player {
    background-color: #282828;
    min-height: 80px;
}
